/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */
    /* fond 0ne here 
    */
    /* fond two 
    */
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-image: url(./images/bg-desktop.svg);
        background-size: 75%;
        background-repeat: no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    .container{
        position: relative;
        
    }
    .right-side{
        position: absolute;
        top: 10rem; 
        color: #fff;
    }
    .right-side h1{
        font-family: 'Montserrat', sans-serif;
    }
    .right-side p{
        
        font-family: 'Montserrat', sans-serif;
    }
    .left-side{
        position: absolute;
        top: 10rem;
        left: -3rem;
    }
    .bt{
        color:  hsl(300, 69%, 71%);
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        height: 3rem;
        width: 13rem;
        border: none;
        border-radius: 50px 50px 50px 50px ;
    }